###############################################################################
#  DHCP SERVER CONFIG FILE AUTOMATICALLY POPULATED BY PI-HOLE WEB INTERFACE.  #
#            ANY CHANGES MADE TO THIS FILE WILL BE LOST ON CHANGE             #
###############################################################################
dhcp-authoritative
dhcp-range={{ dhcp_start }},{{ dhcp_end }},24h
dhcp-option=option:router,{{ dhcp_gw }}
dhcp-leasefile=/etc/pihole/dhcp.leases
#quiet-dhcp

domain=lan
dhcp-rapid-commit