WEBPASSWORD=
PIHOLE_DNS_1=8.8.8.8
PIHOLE_DNS_2=8.8.4.4
DHCP_ACTIVE=true
DHCP_START={{ dhcp_start }}
DHCP_END={{ dhcp_end }}
DHCP_ROUTER={{ dhcp_gw }}
DHCP_LEASETIME=24
PIHOLE_DOMAIN=lan
DHCP_IPv6=false
DHCP_rapid_commit=false
LIGHTTPD_ENABLED=
IPV6_ADDRESS=
DNS_BOGUS_PRIV=
DNS_FQDN_REQUIRED=
DNSSEC=
REV_SERVER=
REV_SERVER_DOMAIN=
REV_SERVER_TARGET=
REV_SERVER_CIDR=
CONDITIONAL_FORWARDING=
CONDITIONAL_FORWARDING_IP=
CONDITIONAL_FORWARDING_DOMAIN=
CONDITIONAL_FORWARDING_REVERSE=
ADMIN_EMAIL=
WEBUIBOXEDLAYOUT=boxed
WEBTHEME=default-dark
BLOCKING_ENABLED=true
INSTALL_WEB_SERVER=true
INSTALL_WEB_INTERFACE=true
IPV4_ADDRESS=0.0.0.0
PIHOLE_INTERFACE=eth0
DNSMASQ_LISTENING=all
QUERY_LOGGING=true
